@charset "utf-8";
@import '@/styles/_variables.scss';

.home {
}

.posts {
}

.post {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.postTitle {
	font-weight: $font-weight-bold;
}

.postDesc {
	padding-left: 1rem;
}
